.restaurants_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 360px;
  margin: 25px;
}

.pagination_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page_numbers {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #334155;
  margin: 5px;
}

.pagination-button {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
  outline: none;
  transition: 1s;
  margin: 5px;
}

.pagination-button:hover {
  transform: scale(1.02);
}

.pagination-arrow-icon {
  width: 16px;
  height: 16px;
}

.no-restaurant-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.no-restaurants-heading .restaurant-failure-heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  color: #183b56;
}

.no-restaurants-description .restaurant-failure-description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #64748b;
}

.restaurant-error-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  padding-bottom: 64px;
}

.restaurant-failure-img {
  width: 250px;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .restaurants_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
  }
  .restaurant_list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .restaurants_container {
    height: fit-content;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .no-restaurant-view {
    height: 45vh;
  }

  .no-restaurants-description .restaurant-failure-description {
    font-size: 16px;
    line-height: 24px;
  }

  .no-restaurants-heading .restaurant-failure-heading {
    font-size: 32px;
    line-height: 48px;
  }

  .products-error-view-container {
    margin-top: 0px;
    margin-left: 30px;
    width: 70%;
    padding-bottom: 0;
  }

  .restaurant-failure-img {
    width: 400px;
    height: 350px;
  }
}
