.order_summary {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.order_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #3e4c59;
}

.order_price {
  display: flex;
  flex-direction: column;
}

.order_price_container {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.order_total {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #3e4c59;
  align-self: flex-end;
  margin-left: 2px;
}

.place_order_button {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  padding: 8px 16px;
  background: #f7931e;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .order_summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35px;
  }
  .order_text {
    font-size: 24px;
    line-height: 32px;
    padding-left: 55px;
  }
  .order_total {
    font-size: 24px;
    line-height: 32px;
  }
  .order_price {
    align-items: center;
    margin-right: 96px;
  }
  .order_price_container {
    margin-left: 0px;
  }
}
